// Overwrite of bootstrap:
$danger: #F00;
$success: #36C10B;
$warning: #ff851b;
$body-bg: #FFF;
$body-color: #000;
$offcanvas-border-color: tranparent;
$input-placeholder-color: rgba(0, 0, 0, 0.25);

// Site variables:
$font-regular: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-condensed: "PT Sans Narrow", "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$site-min-width: 400px;
$site-menu-height: 0;
$site-footer-height: auto;
$site-backstage-bg: #000;
$site-wrapper-bg: #FFF;
$site-border-color: rgba(0, 0, 0, 0.1);