// Устанавливаем основные настройки по шрифтам
body {
  font-family: $font-regular;

  h1, h2, h3 {
    font-family: $font-condensed;
  }
}

// Стили страницы что бы меню было в самом верху, а футер внизу
html {
  height: 100%;
  min-width: $site-min-width;

  body {
    height: 100%;
    padding-top: $site-menu-height;
    min-width: $site-min-width;
    overflow-y: scroll;
  }
}

#wrapper {
  min-height: 100%;

  // Если нужно что бы футер был ниже страницы и для его просмотра требовалось чуть-чуть мотнуть страницу
  height: auto;
  margin: 0 auto;

  // Если нужно что бы футер был не ниже контента, а просто всегда внизу страницы:
  //margin: 0 auto -1 * $site-footer-height;
  //padding-bottom: $site-footer-height + 1px;
}

#footer {
  min-height: $site-footer-height;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #EEE;
  background: #FFF;
  font-size: 13px;
  color: $gray-600;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);

  a {
    color: $gray-600;
    transition: all 150ms linear;
    text-decoration: none;
    display: inline-block;
    padding: 2.5px 0;
    margin: 2.5px 15px 2.5px 0;

    > span {
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
    }

    &:hover, &:active, &:focus {
      color: #000;
      text-decoration: none;
      border-bottom: 1px solid;
    }
  }
}

// На больших экранах сделать отступ больше для меню и футера
@include media-breakpoint-up(lg) {
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}

// Overwrite default bootstrap styles:
.badge {
  min-height: 21px;
  min-width: 21px;
  font-weight: normal;
  display: inline-block;
  font-size: 11px;
  padding: 4px 0 0 0;
}