.page-status {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: $font-condensed;

  &-icon {
    display: block;
    text-align: center;
    font-size: 175px;
    line-height: 1;
    color: #CCC;
    padding: 0 0 35px;
    margin-bottom: 10px;
  }

  &-actions {
    padding-top: 50px;
  }

  &-separator {
    display: inline-block;
    width: 15px;
  }
}