// Стили страницы что бы меню было в самом верху, а футер внизу
html {
  height: 100%;
  min-width: $site-min-width;
  background: $site-backstage-bg;

  body {
    height: auto;
    min-height: 100%;
    padding-top: $site-menu-height;
    min-width: $site-min-width;
    overflow-y: scroll;
    background: $site-backstage-bg;
  }
}

#wrapper {
  position: relative;
  background: $site-wrapper-bg;

  min-height: 100vh; // Если нужно чтобы футер был за пределами экрана при загрузке
}


// Overwrite дефолтных стилей
body {
  font-family: $font-regular;
  font-weight: 300;
  color: $body-color;

  h1, h2, h3, .headers-font {
    font-family: $font-condensed;
    font-weight: 400;
  }

  b, strong {
    font-weight: bold;
  }

  a, .btn-link {
    text-decoration: none !important;
  }

  .btn-min-width {
    min-width: 185px;
  }

  .badge {
    font-weight: normal;
  }

  .btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:focus {
    color: #FFF;
  }

  .text-muted {
    color: rgba(0, 0, 0, 0.25) !important;
  }

  // На больших экранах сделать отступ больше для меню и футера
  @include media-breakpoint-up(lg) {
    .container-fluid {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .table-extra-condensed,
  .site-table {
    .btn-sm {
      font-size: 13px;
      padding: 1px 5px;
    }

    .badge {
      font-size: 11px;
      border-radius: 10px;
      border: none 0;
      padding: 3px 9px;
    }
  }

  .progress-bar {
    text-shadow: 0 1px rgba(0,0,0, 0.25);
  }
}