#extra-header {
  background: #FFF;
  font-size: 13px;

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  .btn-link {
    color: #000;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .geo-position-button {
    &-flag {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 20px;
      width: 30px;
      display: inline-block;
      border-radius: 3px;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.33) inset;
    }
  }

  .fast-contacts-info {
    color: #CCC;
  }
}

#navbarMainMenu {
  transition: all 250ms linear;
  padding-top: 15px;
  padding-bottom: 15px;

  .site-logo {
    margin-right: 0;

    img {
      height: 25px;
    }
  }

  &.bg-light {
    background-color: $site-backstage-bg !important;

    .navbar-brand {
      font-size: 1rem;
      color: #FFF;

      //@include media-breakpoint-down(md) {
      //  display: none;
      //}
    }

    .navbar-toggler {
      padding: 0.25rem;
      margin: 0;
      border-color: transparent;
      background: transparent;

      &-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
      }
    }

    .navbar-nav {
      padding-top: 15px;

      @include media-breakpoint-up(lg) {
        padding-top: 0;
      }

      &-right {
        padding-top: 0;
      }
    }

    .nav-item {
      &.active, &:hover, &:active, &:focus {
        .nav-link {
          > span {
            color: $primary;
            border-bottom: 1px solid;
          }
        }
      }
    }

    .nav-link {
      color: #FFF;
      word-spacing: 3px;
      min-width: 30px;
      text-align: left;
      outline: none !important;
      box-shadow: none;

      > span:first-child {
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        padding-top: 7.5px;
        padding-bottom: 7.5px;
        transition: all 150ms linear;
      }

      .badge {
        min-width: 22px;
        font-size: 11px;
        margin-left: 20px;
        text-decoration: none !important;
        border: 1px solid $danger !important;

        &.bg-danger {
          color: #FFF !important;
        }
      }

      &.is-important {
        color: $danger;
      }

      @include media-breakpoint-down(lg) {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      @include media-breakpoint-up(lg) {
        margin-right: 30px;

        &.last {
          margin-right: 0;
          padding-right: 0;
        }

        .badge {
          right: -20px !important;
          top: 5px !important;
          margin-left: 0;
        }
      }
    }
  }

  &.menu-in-move,
  &.menu-is-open {
  }
}


.search-panel {
  max-width: map_get($grid-breakpoints, "md");
  margin: 0 auto;
  padding: 0.5rem;

  .form-control {
    margin-right: 1rem;
    transition: all 150ms linear;
    background: #FFF;
    border-radius: 5px !important;
  }

  &-button-toggle {
    height: 40px;
    border: none 0;

    &.input-group-text {
      padding-left: 12px !important;
      padding-right: 12px !important;
    }
  }
}


.offcanvas {
  background: #FFF;
  border-color: transparent;

  &-header {
    padding: 1rem;
    border-bottom: 1px solid $site-border-color;
  }

  &-title {
  }

  &-body {
    position: relative;
    padding: 0;
  }

  &-menu-list {
    padding: 1rem;

    > ul {
      > li {
        padding-bottom: 15px;

        > a {
          color: #000;
          transition: all 150ms linear;
          text-decoration: none;
          display: block;
          padding: 7.5px 0;

          > span {
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;

            padding-top: 7.5px;
            padding-bottom: 7.5px;
            transition: all 150ms linear;
          }

          &.active, &:hover, &:active, &:focus {
            > span {
              border-bottom: 1px solid;
            }
          }
        }

        &:first-child {
          > a {
            padding-top: 7.5px;
          }
        }
      }
    }
  }
}